* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #cccccc;
    color: #333333;
}

.container {
    width: 960px;
    border-radius: 30px;
    background-color: lightgoldenrodyellow;
    padding: 30px;
    margin: 0 auto;
}

header {
    text-align: center;
}

@media all and (max-width: 960px) {
    .container {
        width: 100%;
    }
}